@media (max-width:600px){
    body{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        align-items: center;
    }
    .top-banner{
        width: 100vh;
        width: 500px;
        display: block;
        align-items: center;
        margin-left: 50px ;
        margin-top: 50px;
    }
    .banner-info{
        width: 300px;
        margin-bottom: 30px;
        margin: auto;
        text-align: center;
    }

    .banner-image img{
        width: 350px;
        margin-left: 100px;
        margin-top: 60px;
    }

    .all-items{
        display: block;
        align-items: center;
        margin: auto;
    }

    .match-blog-section{
        width: 500px;
        margin-left: 50px;
        background-color: white;
        text-align: center;
    }
    .match-blog-section a{
        width: 70%;
        margin: auto;
        border: 1px solid rgb(151, 151, 151);
    }
    .match-blog-section a:last-child{
        width: 40%;
    }
    .main-box{
        display: block;
    }
    .box{
        width: 500px;
        height: 450px;
        margin-top: 30px;
        margin-left: 60px;
        
    }
    footer{
        width: 600px;
        height: 100%;
        margin-top: 80px;
    }
    .about{
        display: block;
        text-align: center;
    }
    .about p{
        margin-bottom: 30px;
    }
    .social-icon{
        padding-bottom: 30px;
    }
}